
<!DOCTYPE html> 
<html> 
  <head>
	<title><%= t ".title_h"%></title>
  </head>
  <body> 
	<div class="center jumbotron">
	  <h1><%= t ".title"%></h1>
	  <h2>
	    <%= t ".title1"%>
		<a href="http://www.railstutorial.org/"><%= t ".title2"%></a>
		<%= t ".title3"%>
	  </h2>
	<a href="#" class="btn btn-lg btn-primary"><%= t ".title4"%></a>
	</div>
  </body>
</html>


